#barnav
{
	background-color:#697179 !important; 
	font-size: 20px !important;
	font-family: monospace;
	text-transform: capitalize;
	cursor: auto;
	margin-bottom: 5px;
}
.barnavv
{
	background-color:#697179 !important; 
	font-size: 20px !important;
	font-family: monospace;
	text-transform: capitalize;
	cursor: auto;
}